@import 'Themes/_mixins.scss';
@import 'Themes/_variables.scss';

.booking {
  background-color: $color-gray-dark;
  background-image: url('../../../Images/booking/hero-bg-mobile.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 56px;
  padding-bottom: 228px;

  @include big-mobile {
    background-image: url('../../../Images/booking/hero-bg-mobile@2x.jpg');
  }

  @include small-tablet {
    background-image: url('../../../Images/booking/hero-bg-tablet.jpg');
    background-size: cover;
    padding-top: 56px;
    padding-bottom: 302px;
    padding-left: 5%;
    padding-right: 5%;
  }

  @include big-tablet {
    background-image: url('../../../Images/booking/hero-bg-tablet@2x.jpg');
  }

  @include small-desktop {
    background-image: url('../../../Images/booking/hero-bg-desktop.jpg');
    padding-top: 65px;
    padding-bottom: 124px;
    padding-left: $padding-desktop;
    padding-right: calc(#{$padding-desktop} + 46%);
  }

  @include big-desktop {
    background-image: url('../../../Images/booking/hero-bg-desktop@2x.jpg');
  }

  @media only screen and (min-width: 100em) {
    padding-left: $padding-big-desktop;
    padding-right: $padding-big-desktop;
  }

  &__logoBox {
    @include small-tablet {
      text-align: left;
    }
    &__logo {
      width: 82px;
      @include small-tablet {
        width: 103px;
      }
    }
  }

  .-h1 {
    margin-top: 38px;
    margin-bottom: 16px;
    @include small-tablet {
      margin-top: 60px;
    }
    @include small-desktop {
      margin-top: 152px;
      margin-bottom: 22px;
      position: relative; //for .form with position absolute
    }
  }

  .paragraph {
    margin-bottom: 23px;
    margin-left: -1%;
    margin-right: -1%;
    @include small-tablet {
      padding: 0 10%;
      margin-bottom: -32px;
    }
    @include small-desktop {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    @media only screen and (min-width: 100em) {
      width: 50%;
    }
  }

  .a-btnCta {
    @include small-tablet {
      display: none;
    }
  }
}
