@import 'Themes/_mixins.scss';

@import 'Themes/_variables.scss';

.features {
  @include small-tablet {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;

    background-image: url('../../../Images/patterns/pattern-curve-top-left.svg'),
      url('../../../Images/patterns/pattern-curve-top-left.svg');
    background-repeat: no-repeat;
    background-position: top 197px left -517px, bottom right -511px;
  }

  @include small-desktop {
    background-image: url('../../../Images/patterns/pattern-curve-top-right.svg'),
      url('../../../Images/patterns/pattern-curve-top-left.svg');
    background-repeat: no-repeat;
    background-position: top 322px left, bottom 124px right;
    padding-right: $padding-desktop;
    padding-left: $padding-desktop;
  }

  @media only screen and (min-width: 100em) {
    padding-left: $padding-big-desktop;
    padding-right: $padding-big-desktop;
  }

  .m-feature {
    @include small-desktop {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 116px;
    }

    &__imgBox {
      position: relative;
      width: 100%;
      text-align: center;

      img {
        box-shadow: $blured-shadow;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__textBox {
      .-h2 {
        margin-top: 22px;
        margin-bottom: 14px;
        text-align: center;

        @include small-tablet {
          width: 50%;
          margin: 27px auto 14px auto;
          text-align: left;
        }

        @include small-desktop {
          margin: 171px 0 16px 0;
          width: 85%;
          text-align: left;
        }

        &::before {
          content: url('../../../Images/patterns/pattern-divide.svg');
          display: block;
          width: 100%;
          height: 65px;
          @include small-desktop {
            height: 87px;
          }
        }
      }

      .paragraph {
        margin-bottom: 80px; //goes perfectly as bottom margin of the section
        text-align: center;

        @include small-tablet {
          width: 60%;
          margin-left: auto;
          margin-right: auto;
        }

        @include small-desktop {
          margin: 0;
          width: 80%;
          text-align: left;
        }
      }

      @include small-desktop {
        display: flex;
        flex-direction: column;
      }
    }

    &:last-child .m-feature__imgBox {
      @include small-tablet {
        &::after {
          content: url('../../../Images/patterns/pattern-lines.svg');
          display: block;
          position: absolute;
          right: 40px;
          bottom: 63px;
          width: 160px;
          height: 76px;
          @media only screen and (min-width: 55em) {
            right: -25px;
          }
          @include small-desktop {
            right: -116px;
            top: 282px;
          }
        }
      }
    }

    &:first-child {
      margin-top: -73px;
      @include small-tablet {
        margin-top: -97px;

        .paragraph {
          &:first-of-type {
            margin: 0 auto 120px auto;
          }
        }
      }

      @include small-desktop {
        margin-top: -72px;
        .m-feature__textBox {
          padding-left: 122px;
          .-h2 {
            margin: 217px 0 16px 0;
          }
          .paragraph {
            &:first-of-type {
              margin: 0;
              width: 100%;
            }
          }
        }
        .m-feature__imgBox {
          order: 1;
        }
      }
    }
  }
}
.img {
  max-width: $img-width-mobile;
}
