@import 'Themes/_variables.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

body {
  font-family: 'Spartan', sans-serif;
  color: $color-gray;
  box-sizing: border-box;
  font-size: 15px;
  @media only screen and (min-width: 48em) {
    font-size: 18px;
  }
}

ul {
  list-style: none;
}
